.place__title {
    grid-area: title;
    align-self: end;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 1.09;
        padding-right: 11px;
        align-self: flex-start;
    }
}

@media screen and (max-width: 624px) {
    .place__title {
        font-size: 32px;
        margin: 0 0 0 16px;
    }
}